{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    // note you must disable the base rule as it can report incorrect errors
    "no-unused-vars": "off",
    "no-console": "warn",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "unicorn/filename-case": ["off"],
    "no-return-await": "off",
    "no-warning-comments": "off",
    "require-await": "error",
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ]
  }
}
